# Default ignored files
/../../hello./.idea/shelf/
/../../hello./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../hello./.idea/httpRequests/
# Ignored default folder with query files
/../../hello./.idea/queries/
# Datasource local storage ignored files
/../../hello./.idea/dataSources/
/../../hello./.idea/dataSources.local.xml
